@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * テーマ
 * @see https://ui.shadcn.com/themes
 */
 @layer base {
  :root {
    --background: 220 15% 98%;  /* 淡いグレー */
    --foreground: 220 15% 20%;  /* ダークグレー */
    --card: 220 15% 98%;        /* 淡いグレー */
    --card-foreground: 220 15% 20%; /* ダークグレー */
    --popover: 220 15% 98%;     /* 淡いグレー */
    --popover-foreground: 220 15% 20%; /* ダークグレー */
    --primary: 204 100% 50%;    /* 明るいブルー */
    --primary-foreground: 0 0% 100%; /* ホワイト */
    --secondary: 39 100% 50%;   /* ビビッドオレンジ */
    --secondary-foreground: 0 0% 100%; /* ホワイト */
    --muted: 220 15% 85%;       /* 淡いグレー */
    --muted-foreground: 220 15% 20%; /* ダークグレー */
    --accent: 39 100% 50%;      /* ビビッドオレンジ */
    --accent-foreground: 0 0% 100%; /* ホワイト */
    --destructive: 0 100% 50%;  /* ビビッドレッド */
    --destructive-foreground: 0 0% 100%; /* ホワイト */
    --border: 220 15% 80%;      /* 中間のグレー */
    --input: 220 15% 80%;       /* 中間のグレー */
    --ring: 204 100% 50%;       /* 明るいブルー */
    --radius: 0.3rem;
  }

  .dark {
    --background: 220 15% 20%;  /* ダークグレー */
    --foreground: 0 0% 100%;    /* ホワイト */
    --card: 220 15% 20%;        /* ダークグレー */
    --card-foreground: 0 0% 100%; /* ホワイト */
    --popover: 220 15% 20%;     /* ダークグレー */
    --popover-foreground: 0 0% 100%; /* ホワイト */
    --primary: 204 100% 30%;    /* 暗いブルー */
    --primary-foreground: 0 0% 100%; /* ホワイト */
    --secondary: 39 100% 30%;   /* 暗いオレンジ */
    --secondary-foreground: 0 0% 100%; /* ホワイト */
    --muted: 220 15% 35%;       /* ダークグレー */
    --muted-foreground: 0 0% 100%; /* ホワイト */
    --accent: 39 100% 30%;      /* 暗いオレンジ */
    --accent-foreground: 0 0% 100%; /* ホワイト */
    --destructive: 0 100% 30%;  /* 暗いレッド */
    --destructive-foreground: 0 0% 100%; /* ホワイト */
    --border: 220 15% 35%;      /* ダークグレー */
    --input: 220 15% 35%;       /* ダークグレー */
    --ring: 204 100% 30%;       /* 暗いブルー */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  overscroll-behavior-y: none;
  overflow-y: auto;
}
