@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'tailwindcss-animate';

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);
  --monotone-50: hsl(0 0% 95%);
  --monotone-100: hsl(0 0% 90%);
  --monotone-200: hsl(0 0% 80%);
  --monotone-300: hsl(0 0% 70%);
  --monotone-400: hsl(0 0% 60%);
  --monotone-500: hsl(0 0% 50%);
  --monotone-600: hsl(0 0% 40%);
  --monotone-700: hsl(0 0% 30%);
  --monotone-800: hsl(0 0% 20%);
  --monotone-900: hsl(0 0% 10%);
  --radius: 0.5rem;
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
}

.dark {
  --background: hsl(20, 14.3%, 4.1%);
  --foreground: hsl(60, 9.1%, 97.8%);
  --card: hsl(20, 14.3%, 4.1%);
  --card-foreground: hsl(60, 9.1%, 97.8%);
  --popover: hsl(20, 14.3%, 4.1%);
  --popover-foreground: hsl(60, 9.1%, 97.8%);
  --primary: hsl(60, 9.1%, 97.8%);
  --primary-foreground: hsl(24, 9.8%, 10%);
  --secondary: hsl(12, 6.5%, 15.1%);
  --secondary-foreground: hsl(60, 9.1%, 97.8%);
  --muted: hsl(12, 6.5%, 15.1%);
  --muted-foreground: hsl(24, 5.4%, 63.9%);
  --accent: hsl(12, 6.5%, 15.1%);
  --accent-foreground: hsl(60, 9.1%, 97.8%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(60, 9.1%, 97.8%);
  --border: hsl(12, 6.5%, 24%);
  --input: hsl(12, 6.5%, 15.1%);
  --monotone-50: hsl(0, 0%, 5%);
  --monotone-100: hsl(0, 0%, 10%);
  --monotone-200: hsl(0, 0%, 20%);
  --monotone-300: hsl(0, 0%, 30%);
  --monotone-400: hsl(0, 0%, 40%);
  --monotone-500: hsl(0, 0%, 50%);
  --monotone-600: hsl(0, 0%, 60%);
  --monotone-700: hsl(0, 0%, 70%);
  --monotone-800: hsl(0, 0%, 80%);
  --monotone-900: hsl(0, 0%, 90%);
  --ring: hsl(24, 5.7%, 82.9%);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
